@import url(socials.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: auto;
    max-width: 1024px;
    height: auto;
    border: 5px solid rgb(52, 30, 73);
}

div {
    padding-left: 5px;
    padding-right: 5px;   
    text-align: center; 
    color: white;
}

.specifics {
    background-color: grey;
}

.hamper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}
 
.hamper img {
    display: grid;
    justify-content: center;
    width: 300px;
}

.specifics {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    border-width: 10px; 
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}

a{
    font-size: 30px;
}

.blogword {
    text-decoration: underline;
    color: rgb(65, 6, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: rgb(8, 161, 161);
}

blockquote {
    color: whitesmoke;
    text-align: center;
    quotes: auto;
}

#author img {
    max-width: 200px;
    justify-self: center;
}

@media screen and (max-width:768px) {
    body {
        border: none;
    }
}